---
layout: default
---

<h1>{{page.titulo}} <small>({{page.tipo}})</small></h1>

{{#if page.tituloEs}}
  <img src="../imagenes/{{slugify page.tituloEs}}.jpg">
{{else}}
  <img src="../imagenes/{{slugify page.titulo}}.jpg">
{{/if}}

{{> body }}
