---
layout: isotope
itemsField: variedades
itemSelector: ".variedad"
containerId: "variedades"

title: Variedades

indice: 2

variedades:
  - codigo: 1
    nombre: Allqa Compis
    nombreAlternativo: Alqa Imilla
    significadoNombre: Papa de 2 colores rosado y blanco
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 2
    nombre: Azul Ñawi Pasña
    nombreAlternativo: Yana Chusña
    significadoNombre: Muchacha con ojos azules
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: Ojos azules
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 3
    nombre: Compis
    nombreAlternativo: Puka Imilla
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 4
    nombre: Huaman Uma
    significadoNombre: Cabeza del águila huamancha
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo claro
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 5
    nombre: Linlin
    nombreAlternativo: Yana Linli y Moro
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 6
    nombre: Luntus (RUNTUS)
    nombreAlternativo: Luntus
    significadoNombre: Yema de huevo
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo intenso
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 7
    nombre: Muru Huarillo
    nombreAlternativo: Muru Wakrillo
    significadoNombre: Asta negra y blanca
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    formaRara: Enroscado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño
    lugar: Apurímac

  - codigo: 8
    nombre: Muru Linlin
    significadoNombre: Linli de blanco y negro
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 9
    nombre: Muru Phuquya
    nombreAlternativo: Moro Phocoya
    colorPrincipalDeLaFlor: Rosado
    toleranciaALaGranizada: Fuerte
    colorPulpa: Blanco
    toleranciaALaHelada: Fuerte
    lugar: Apurímac

  - codigo: 10
    nombre: Palta Suso
    nombreAlternativo: Palteña
    significadoNombre: Roja plana
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo claro
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Mondar, pelar y sopas
    lugar: Apurímac

  - codigo: 11
    nombre: Paqus
    nombreAlternativo: Pacos
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo claro
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Pelar, sopas
    lugar: Apurímac

  - codigo: 12
    nombre: Puka Ñawi Suyto
    nombreAlternativo: Yurac Huachala
    significadoNombre: Blanco que produce bastante. Con ojos rojos
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 13
    nombre: Puka Qulluna
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema/rojo (anillo angosto)
    formaRara: Bastantes ojos
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 14
    nombre: Puka Shuallulla
    nombreAlternativo: Huancucho Rojo
    significadoNombre: Rojo ratero mentiroso
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 15
    nombre: Puma Maki
    nombreAlternativo: Pumaq Makin
    significadoNombre: Mano del puma
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: mano u garra del puma
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño
    lugar: Apurímac

  - codigo: 16
    nombre: Qhachum Waqachi
    nombreAlternativo: Chocllos
    significadoNombre: Hace llorar a la yerna
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo
    formaRara: Ojos profundos
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 17
    nombre: Risco
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 18
    nombre: Salamanca
    colorPrincipalDeLaFlor: Azul celeste
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 19
    nombre: Simpa Waña
    significadoNombre: Papa amarga trenzada
    colorPrincipalDeLaFlor: Azul
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Moraya y chuño
    lugar: Apurímac

  - codigo: 20
    nombre: Sunchu Papa
    nombreAlternativo: Paspa Sunchu
    significadoNombre: Papa aspera
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 21
    nombre: Suso
    nombreAlternativo: Puka Suso
    significadoNombre: Papa sin sabor
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Mondar o pelar
    lugar: Apurímac

  - codigo: 22
    nombre: Yana Linlin
    nombreAlternativo: Papa negra
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 23
    nombre: Yana Ñawi Pasña
    nombreAlternativo: Yana Chusña
    significadoNombre: Muchacha de ojos negros o azules
    colorPrincipalDeLaFlor: Rojo morado o morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 24
    nombre: Yana Putis
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema/rojo. Anillo angosto
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 25
    nombre: Yana Shuallulla
    nombreAlternativo: Huancucho Negro
    significadoNombre: Negro Ratero mentiroso
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco/Morado. Anillo vascular y medalla
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 26
    nombre: Yana Suso
    significadoNombre: Papa sin sabor
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema/morado. Anillo angosto
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Mondar, pelar y sopas
    lugar: Apurímac

  - codigo: 27
    nombre: Yana Wakchilla
    significadoNombre: Garza negra
    lugar: Apurímac

  - codigo: 28
    nombre: Yuraq Sunchus
    nombreAlternativo: Paspa Sunchu
    significadoNombre: Papa áspera
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Mondar, pelar y sopas
    lugar: Apurímac

  - codigo: 29
    nombre: Yuraq Suyto
    significadoNombre: Blanco alargado
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 30
    nombre: Yuraq Wachalla
    nombreAlternativo: Puka Ñawi Wachala
    significadoNombre: Blanco que produce bastante
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Apurímac

  - codigo: 31
    nombre: Yuraq Waña
    significadoNombre: Papa amarga
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Fuerte
    colorPulpa: Blanco
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Chuño y moraya
    lugar: Apurímac

  - codigo: 32
    nombre: Ampairas
    significadoNombre: Ampairas, Amparaes (pueblo)
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido, sopas
    lugar: Cusco

  - codigo: 33
    nombre: Cóndor Runtu
    significadoNombre: Huevo de cóndor
    colorPrincipalDeLaFlor: Morado oscuro con acúmenes blancos
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco
    formaRara: Ovalado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y bonda
    lugar: Cusco

  - codigo: 34
    nombre: Llama Senqa
    significadoNombre: Nariz de llama
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco
    formaRara: Oblondo Alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y watia
    lugar: Cusco

  - codigo: 35
    nombre: Maqa Sonqo
    significadoNombre: Corazón sin sabor
    colorPrincipalDeLaFlor: Rosado a rojo
    toleranciaALaGranizada: Débil
    colorPulpa: Crema
    toleranciaALaHelada: Débil
    usoEnLaCocina: Watia, hervido y chuño
    lugar: Cusco

  - codigo: 36
    nombre: Pariwana
    significadoNombre: Flamenco (ave)
    colorPrincipalDeLaFlor: Violeta
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: Obovado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, sopas, al horno
    lugar: Cusco

  - codigo: 37
    nombre: Puka Chimaku
    significadoNombre: Chiwako (zorzal, tordo) rojo
    colorPrincipalDeLaFlor: Lila
    toleranciaALaGranizada: Débil
    colorPulpa: Crema
    formaRara: Fusiforme
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y chuño
    lugar: Cusco

  - codigo: 38
    nombre: Puka Churuspe
    nombreAlternativo: Puka Churuspi
    significadoNombre: Churuspi rojo
    colorPrincipalDeLaFlor: Rojo-morado pálido con blanco en el acumen (Envés)
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema y anillo vascular y medula roja
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, sopas y chuño
    lugar: Cusco

  - codigo: 39
    nombre: Puka Inkachu
    significadoNombre: De los inkas, rojo
    colorPrincipalDeLaFlor: Rosado a rojo
    toleranciaALaGranizada: Débil
    colorPulpa: Crema
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido y watias
    lugar: Cusco

  - codigo: 40
    nombre: Puka Qhachun Waqachi
    significadoNombre: La que hace llorar a la nuera, rojo
    colorPrincipalDeLaFlor: Rojo Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: Oblongo alargado concertinada y ojos profundos.
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, papa seca, al horno, watias
    lugar: Cusco

  - codigo: 41
    nombre: Puka Rumphu K´Usi
    significadoNombre: CalabacÍn ovalado y rojo
    colorPrincipalDeLaFlor: Morado sin botones
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema con pigmentos morados
    formaRara: Ovalado aplanado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño, hervido, watia, chuño
    lugar: Cusco

  - codigo: 42
    nombre: Q´Ello Runthus
    significadoNombre: Huevo amarillo
    colorPrincipalDeLaFlor: Blanco Intermedio
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo intenso
    formaRara: Comprimida
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, purés y hervido
    lugar: Cusco

  - codigo: 43
    nombre: Q´Ewillo
    nombreAlternativo: Alka Charka
    significadoNombre: Serpenteante
    colorPrincipalDeLaFlor: Azul morado
    toleranciaALaGranizada: Débil
    colorPulpa: Crema con pigmentos morados
    formaRara: Alargada
    toleranciaALaHelada: Débil
    usoEnLaCocina: Moraya, chuño
    lugar: Cusco

  - codigo: 44
    nombre: Suytu
    nombreAlternativo: Yuraq Suytu
    significadoNombre: Alargado
    colorPrincipalDeLaFlor: Rojo morado oscuro
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco violeta con anillo vascular
    formaRara: Elíptica
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y bonda
    lugar: Cusco

  - codigo: 45
    nombre: Uqi Suyto
    significadoNombre: Perro negro
    colorPrincipalDeLaFlor: Azul morado
    toleranciaALaGranizada: Débil
    colorPulpa: Crema
    formaRara: Fusiforme alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y sopas
    lugar: Cusco

  - codigo: 46
    nombre: Yana Charka
    significadoNombre: Lugar negro
    colorPrincipalDeLaFlor: Morado oscuro
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: Oblondo Alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño
    lugar: Cusco

  - codigo: 47
    nombre: Yana Churuspe
    nombreAlternativo: Yana Churuspi
    significadoNombre: Churuspi negro
    colorPrincipalDeLaFlor: Morado oscuro
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco-violeta con anillo vascular y médula
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y watias
    lugar: Cusco

  - codigo: 48
    nombre: Yana Imilia
    significadoNombre: Muchacha juvenil
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo claro
    formaRara: Comprimida
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, chuño, watia y sopas
    lugar: Cusco

  - codigo: 49
    nombre: Yana Rumphu K´Usi
    significadoNombre: Calabacín ovalado y negro
    colorPrincipalDeLaFlor: Lila pálido
    toleranciaALaGranizada: Débil
    colorPulpa: Crema con anillo vascular morado
    formaRara: Ovalado aplanado
    toleranciaALaHelada: Débil
    usoEnLaCocina: Chuño, hervido, watia, chuño
    lugar: Cusco

  - codigo: 50
    nombre: Yana Willkas
    significadoNombre: Sagrado negro
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Morado
    formaRara: Oblondo Alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño, moraya
    lugar: Cusco

  - codigo: 51
    nombre: Yuraq Inkachu
    significadoNombre: De los inkas, blanco
    colorPrincipalDeLaFlor: Blanco pálido
    toleranciaALaGranizada: Débil
    colorPulpa: Crema
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido y watias
    lugar: Cusco

  - codigo: 52
    nombre: Yuraq Sole
    significadoNombre: Sole blanco
    colorPrincipalDeLaFlor: Lila oscura
    toleranciaALaGranizada: Intermedio
    colorPulpa: Rojo con corteza blanca
    formaRara: Oblondo Obovado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido y chuño
    lugar: Cusco

  - codigo: 53
    nombre: Yuraq Willkas
    significadoNombre: Sagrado blanco
    colorPrincipalDeLaFlor: Lila oscura
    toleranciaALaGranizada: Intermedio
    colorPulpa: Amarillo
    formaRara: Obovado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, chuño, bonda y sopas
    lugar: Cusco

  - codigo: 54
    nombre: Allqa Palta
    nombreAlternativo: Wanka Lliqlla
    significadoNombre: Aplanado bicolor- Manta de wanka
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco a crema
    formaRara: Aplanado
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido y sopa
    lugar: Huancavelica

  - codigo: 55
    nombre: Allqa Walash
    nombreAlternativo: Walash
    significadoNombre: Joven bicolor
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 56
    nombre: Aqu Suytu
    nombreAlternativo: Yuraq Suytu
    significadoNombre: Arenoso Largo
    colorPrincipalDeLaFlor: Rosado a rojo
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco o crema
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 57
    nombre: Camotillo
    significadoNombre: Camote pequeño
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 58
    nombre: Caramelo Suytu
    significadoNombre: Caramelo largo
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Intermedio
    colorPulpa: Combinado
    formaRara: Oblongo alargado
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 59
    nombre: Chiqchi Pasña
    nombreAlternativo: Yuraq Chiqchi Pasña
    significadoNombre: Señorita chispeada
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Comprimida
    toleranciaALaHelada: Débil
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 60
    nombre: Cordovina
    nombreAlternativo: Clavelina
    significadoNombre: Cordovina
    colorPrincipalDeLaFlor: Rojo a Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Crema
    formaRara: Comprimida
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 61
    nombre: Dusis
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Combinado
    formaRara: Oblongo
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 62
    nombre: Huamantanga
    nombreAlternativo: Puka Aqu Suytu
    significadoNombre: Roja arenosa larga - Huamantanga (es un pueblo)
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 63
    nombre: Kichka Matanka
    significadoNombre: Espina en la espalda
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Combinado
    formaRara: Comprimida
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 64
    nombre: Kuchipa Akan
    significadoNombre: Excremento de chancho
    colorPrincipalDeLaFlor: Morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 65
    nombre: Markina
    significadoNombre: Markina
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Combinado
    formaRara: Oblongo
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 66
    nombre: Muru Llumchuy Waqachi
    significadoNombre: Bicolor hace llorar a la nuera
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Tuberosado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 67
    nombre: Muru Wayru
    significadoNombre: Wayru bicolor
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 68
    nombre: Payapa Ankun
    significadoNombre: Talon de Anciana
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco a crema
    formaRara: Oblongo
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido y chuño
    lugar: Huancavelica

  - codigo: 69
    nombre: Peruanita
    significadoNombre: Color de la bandera peruana (pequeña)
    colorPrincipalDeLaFlor: Rojo Morado
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 70
    nombre: Prescos
    nombreAlternativo: Bayo Botas, Qompis
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Redondo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 71
    nombre: Puka Botijuela
    significadoNombre: Botijuela roja
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco o crema
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 72
    nombre: Puka Chiqchi Pasña
    nombreAlternativo: Puka Pasña
    significadoNombre: Señorita roja chispeada
    colorPrincipalDeLaFlor: Lila a Morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a Crema
    formaRara: Comprimida
    toleranciaALaHelada: Débil
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 73
    nombre: Puka Wayru
    significadoNombre: Wayru rojo
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo alargado
    toleranciaALaHelada: Débil
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 74
    nombre: Puqya
    significadoNombre: Puqya
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Fuerte
    colorPulpa: Blanco a crema
    formaRara: Oblongo
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 75
    nombre: Qalapa Waran
    nombreAlternativo: Waripa Tacllan
    significadoNombre: Ropa vieja- Arado de pie de joven
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Oblongo alargado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 76
    nombre: Qullqi Tupu
    nombreAlternativo: Yuraq Peruanita
    significadoNombre: Tupu (prendedor) de plata
    colorPrincipalDeLaFlor: Rojo a morado
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 77
    nombre: Runtus
    significadoNombre: Huevo
    colorPrincipalDeLaFlor: Blanco
    toleranciaALaGranizada: Débil
    colorPulpa: Amarillo
    formaRara: Redondo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Causa, hervido
    lugar: Huancavelica

  - codigo: 78
    nombre: Sangre De Toro
    nombreAlternativo: Turupa Yawar
    significadoNombre: Sangre de toro
    colorPrincipalDeLaFlor: Rosado
    toleranciaALaGranizada: Débil
    colorPulpa: Rojo
    formaRara: Redondo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 79
    nombre: Tantas
    nombreAlternativo: Riplan
    significadoNombre: Panes
    colorPrincipalDeLaFlor: Azul morado
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido, sopas y guisos
    lugar: Huancavelica

  - codigo: 80
    nombre: Trajin Waqachi
    significadoNombre: El que hace llorar al arriero
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Comprimida
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 81
    nombre: Wakapa Qallun
    significadoNombre: Lengua de vaca
    colorPrincipalDeLaFlor: Rojo Morado
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Aplanado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 82
    nombre: Witqis
    nombreAlternativo: Sirina
    significadoNombre: Wiqtis -Sirena
    colorPrincipalDeLaFlor: Celeste a Azul
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Oblongo
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 83
    nombre: Yana Chiqchi Pasña
    significadoNombre: Señorita negra chispeada
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Comprimida
    toleranciaALaHelada: Débil
    usoEnLaCocina: Watia, hervido
    lugar: Huancavelica

  - codigo: 84
    nombre: Yana Gaspar
    nombreAlternativo: Yana ñata
    significadoNombre: Gaspar Negro
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Tuberosado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 85
    nombre: Yana Llumchuy Waqachi
    significadoNombre: Negra hace llorar a la nuera
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a crema
    formaRara: Tuberosado
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 86
    nombre: Yana Manwa
    nombreAlternativo: Manua
    significadoNombre: Manwa negra
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Fuerte
    colorPulpa: Combinado
    formaRara: Oblongo
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Chuño y sopa
    lugar: Huancavelica

  - codigo: 87
    nombre: Yana Ñata
    nombreAlternativo: Ñata
    significadoNombre: Achatado Negro
    colorPrincipalDeLaFlor: Lila a Morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco a Crema
    formaRara: Comprimida
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 88
    nombre: Yana Winqu
    nombreAlternativo: Winqu
    significadoNombre: Negro torcido
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Débil
    colorPulpa: Combinado
    formaRara: Alargada
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Hervido
    lugar: Huancavelica

  - codigo: 89
    nombre: Yuraq Ipillu
    nombreAlternativo: Yuraq Culebrina
    significadoNombre: Ipillu blanco
    colorPrincipalDeLaFlor: Rojo Morado
    toleranciaALaGranizada: Débil
    colorPulpa: Blanco a Crema
    formaRara: Alargada
    toleranciaALaHelada: Intermedio
    usoEnLaCocina: Chuño
    lugar: Huancavelica

  - codigo: 90
    nombre: Yuraq Mako
    nombreAlternativo: Maco
    significadoNombre: Maco blanco
    colorPrincipalDeLaFlor: Lila a morada
    toleranciaALaGranizada: Intermedio
    colorPulpa: Blanco a crema
    formaRara: Oblongo
    toleranciaALaHelada: Fuerte
    usoEnLaCocina: Hervido
    lugar: Huancavelica
---

<div class="thumbnail variedad col-sm-5 col-md-3 col-lg-3">
  <img src="galeria/fotos/{{strPad codigo 3}}.png" alt="">
  <div class="caption">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#masInfo{{codigo}}" aria-expanded="true" aria-controls="masInfo{{codigo}}" class="collapsed">
              <h3>{{nombre}}</h3>
            </a>
          </h4>
        </div>
        <div id="masInfo{{codigo}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <table class="table table-bordered">
            {{#each this}}
              {{#isnt @key 'codigo'}}
                {{#isnt @key 'nombre'}}
                  <tr>
                    <td class="col-sm-5 col-md-4 col-lg-4">{{humanize @key}}:</td>
                    <td class="col-sm-7 col-md-8 col-lg-8"><strong>{{this}}</strong></td>
                  </tr>
                {{/isnt}}
              {{/isnt}}
            {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
